<tr ng-mouseenter="show=true" ng-mouseleave="show=false">
    <td class="text-center" ng-click="vm.open()" ng-show="vm.viewState === 'normal'">
        <i class="fa fa-bars" ng-show="show" aria-hidden="true"></i>
    </td>
    <td class="text-left" ng-show="vm.viewState === 'normal'">
        <div markdown-to-html="project.Name"></div>
    </td>
    <td class="text-left" ng-show="vm.viewState === 'normal'">
        <div markdown-to-html="project.Description || ''"></div>
    </td>
    <td class="text-center" ng-click="vm.edit()" ng-show="vm.viewState === 'normal'">
        <i class="fa fa-pencil-square-o" ng-show="show" aria-hidden="true"></i>
    </td>
    <td class="text-center" ng-click="vm.delete()" ng-show="vm.viewState === 'normal'">
        <i class="fa fa-times" ng-show="show" aria-hidden="true"></i>
    </td>

    <td ng-show="vm.viewState === 'editing'">&nbsp;</td>
    <td ng-show="vm.viewState === 'editing'">
        <input class="form-control form-control-sm" form="text" ng-model="item.Name" placeholder="Project Name" />
    </td>
    <td ng-show="vm.viewState === 'editing'">
        <input class="form-control form-control-sm" form="textarea" ng-model="item.Description" placeholder="Project Description" />
    </td>
    <td class="text-center" ng-click="vm.completeEdit()" ng-show="vm.viewState === 'editing'">
        <i class="fa fa-check" ng-show="show" aria-hidden="true"></i>
    </td>
    <td class="text-center" ng-click="vm.abandonEdit()" ng-show="vm.viewState === 'editing'">
        <i class="fa fa-times" ng-show="show" aria-hidden="true"></i>
    </td>

    <td ng-show="vm.viewState === 'deleting'">&nbsp;</td>
    <td ng-show="vm.viewState === 'deleting'">
        <strong>Confrim Deletion?</strong>
    </td>
    <td ng-show="vm.viewState === 'deleting'">
        <button class="btn btn-primary btn-sm" ng-click="vm.completeDelete()">Confirm</button>
    </td>
    <td ng-show="vm.viewState === 'deleting'">
        <button class="btn btn-primary btn-sm" ng-click="vm.abandonDelete()">Cancel</button>
    </td>
    <td ng-show="vm.viewState === 'deleting'">&nbsp;</td>
    <td ng-show="vm.viewState === 'deleting'">&nbsp;</td>
</tr>
