<div class="row" ng-controller="ProjectBoardCtrl as vm">
    <div class="col-md-10 container">
        <table class="table-responsive table-hover">
            <thead>
                <tr>
                    <th width="50px">&nbsp</th>
                    <th class="text-center" width="150px">Project Name</th>
                    <th class="text-center" width="200px">Number Work Items</th>
                    <th width="50px">&nbsp</th>
                    <th width="50px">&nbsp</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects" ng-mouseenter="show=true" ng-mouseleave"show=false">
                    <td class="text-center" ng-show="show"><i class="fa fa-bars" aria-hidden="true"></i></td>
                    <td class="text-left">{{project.Name}}</td>
                    <td class="text-center">0</td>
                    <td class="text-center" ng-show="show"><i class="fa fa-pencil-square-0" aria-hidden="true"></i></td>
                    <td class="text-center" ng-show="show"><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
