<div class="row" ng-controller="ProjectBoardCtrl as vm">
    <div class="col-md-10 container">
        <table class="table-responsive table-primary table-hover">
            <tr>
                <th class="text-center">Project Name</th>
                <th class="text-center">Number Work Items</th>
            </tr>
            <tr ng-repeat="project in projects">
                <td class="text-center">{{project.Name}}</td>
                <td class="text-center">0</td>
            </tr>
        </table>
    </div>
</div>
