<div class="row" ng-controller="ProjectBoardCtrl as vm">
    <div class="col-md-10 container">
        <table class="table-responsive table-primary table-hover">
            <thead>
                <tr>
                    <th class="text-center" width="150px">Project Name</th>
                    <th class="text-center" width="200px">Number Work Items</th>
                    <th class="text-center" width="150px">Go To Projects</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td class="text-left">{{project.Name}}</td>
                    <td class="text-center">0</td>
                    <td class="text-center circle-check"
                </tr>
            </tbody>
        </table>
    </div>
</div>
