<div class="row" ng-controller="WorkItemBoardCtrl as vm">
    <div class="col-md-10 container">
        <table class="table-responsive table-hover">
            <thead>
                <tr>
                    <th width="50px">&nbsp</th>
                    <th class="text-center" width="150px">Work Item Name</th>
                    <th class="text-center" width="300px">Description</th>
                    <th class="text-center" width="100px">Due Date</th>
                    <th class="text-center" width="150px">Percent Complete</th>
                    <th width="50px">&nbsp</th>
                    <th width="50px">&nbsp</th>
                </tr>
            </thead>
            <tbody>
                <tr work-item-row ng-repeat="workItem in vm.workItems" work-item="workItem" show="show" ng-mouseenter="show=true" ng-mouseleave="show=false" />

            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="addWorkItem()" ng-show="!adding">Add New Work Item</button>
    </div>
</div>
